In [1]:
import mysql.connector
from mysql.connector import Error

In [3]:
def create_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password
        )
        print("Connetion to MySQL DB successful")
    except Error as e:
        print(f"The error '{e}' occured")
    return connection

In [4]:
#create a connection and connnect to mysql database server
host = "localhost"
user = "root"
passwd = ""
connection = create_connection(host, user, passwd)

Connetion to MySQL DB successful

In [5]:
def create_dbase(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print("Database created successfully.")
    except Error as e:
        print(f"The error '{e}' occurred")

In [6]:
#create my database
create_dbase_query = "CREATE DATABASE iqube_learn"
create_dbase(connection, create_dbase_query)

Database created successfully.

In [8]:
#edit the create_connetion function inorder to connect to my iqube_learn database
def create_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password,
            database=db_name
        )
        print("Connetion to MySQL DB successful")
    except Error as e:
        print(f"The error '{e}' occured")
    return connection

In [9]:
db_name = "iqube_learn"
connection = create_connection(host, user, passwd, db_name)

Connetion to MySQL DB successful

## Creating Tables
a simple social media database

In [10]:
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query executed successfully")
    except Error as e:
        print(f"The error '{e}' occured")

In [16]:
create_users_table = """
CREATE TABLE IF NOT EXISTS users(
    id INT AUTO_INCREMENT,
    name TEXT NOT NULL,
    age INT,
    gender INT,
    nationality TEXT,
    PRIMARY KEY (id)
)
"""

In [17]:
execute_query(connection, create_users_table)

Query executed successfully

In [18]:
create_posts_table="""
CREATE TABLE IF NOT EXISTS posts(
    id INT AUTO_INCREMENT,
    title TEXT NOT NULL,
    description TEXT NOT NULL,
    user_id INT NOT NULL,
    FOREIGN KEY fk_user_id (user_id) REFERENCES users(id),
    PRIMARY KEY (id)
)
"""

In [19]:
execute_query(connection, create_posts_table)

Query executed successfully

In [26]:
create_comments_table="""
CREATE TABLE IF NOT EXISTS comments(
    id INT AUTO_INCREMENT,
    text TEXT NOT NULL,
    post_id INT NOT NULL,
    user_id INT NOT NULL,
    FOREIGN KEY fkc_user_id (user_id) REFERENCES users(id),
    FOREIGN KEY fkc_post_id (post_id) REFERENCES posts(id),
    PRIMARY KEY (id)
)
"""
#fkc-comments foreign key

In [27]:
execute_query(connection, create_comments_table)

Query executed successfully

In [28]:
create_likes_table="""
CREATE TABLE IF NOT EXISTS likes(
    id INT AUTO_INCREMENT,
    user_id INT NOT NULL,
    post_id INT NOT NULL,
    FOREIGN KEY fkl_user_id (user_id) REFERENCES users(id),
    FOREIGN KEY fkl_post_id (post_id) REFERENCES posts(id),
    PRIMARY KEY (id)
)
"""
#fkl-likes foreign key

In [29]:
execute_query(connection, create_likes_table)

Query executed successfully

## Inserting Records

In [30]:
create_users = """
INSERT INTO
  `users` (`name`, `age`, `gender`, `nationality`)
VALUES
  ('James', 25, 'male', 'USA'),
  ('Leila', 32, 'female', 'France'),
  ('Brigitte', 35, 'female', 'England'),
  ('Mike', 40, 'male', 'Denmark'),
  ('Elizabeth', 21, 'female', 'Canada');
"""

In [31]:
execute_query(connection, create_users)

Query executed successfully

In [32]:
create_posts = """
INSERT INTO
  `posts` (`title`, `description`, `user_id`)
VALUES
  ("Happy", "I am feeling very happy today", 1),
  ("Hot Weather", "The weather is very hot today", 2),
  ("Help", "I need some help with my work", 2),
  ("Great News", "I am getting married", 1),
  ("Interesting Game", "It was a fantastic game of tennis", 5),
  ("Party", "Anyone up for a late-night party today?", 3);
"""

In [33]:
execute_query(connection, create_posts)

Query executed successfully

In [34]:
create_comments = """
INSERT INTO
  `comments` (`text`, `user_id`, `post_id`)
VALUES
  ('Count me in', 1, 6),
  ('What sort of help?', 5, 3),
  ('Congrats buddy', 2, 4),
  ('I was rooting for Nadal though', 4, 5),
  ('Help with your thesis?', 2, 3),
  ('Many congratulations', 5, 4);
"""

In [35]:
execute_query(connection, create_comments)

Query executed successfully

In [36]:
create_likes = """
INSERT INTO
  `likes` (`user_id`, `post_id`)
VALUES
  (1, 6),
  (2, 3),
  (1, 5),
  (5, 4),
  (2, 4),
  (4, 2),
  (3, 6);
"""

In [37]:
execute_query(connection, create_likes)

Query executed successfully

## Selecting from Records

In [38]:
def execute_read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as e:
        print(f"The error '{e}' occurred.")

In [39]:
select_posts = "SELECT * FROM posts"
posts = execute_read_query(connection, select_posts)

for post in posts:
    print(post)

(1, 'Happy', 'I am feeling very happy today', 1)
(2, 'Hot Weather', 'The weather is very hot today', 2)
(3, 'Help', 'I need some help with my work', 2)
(4, 'Great News', 'I am getting married', 1)
(5, 'Interesting Game', 'It was a fantastic game of tennis', 5)
(6, 'Party', 'Anyone up for a late-night party today?', 3)

In [41]:
select_users_posts="""
SELECT
    users.id,
    users.name,
    posts.description
FROM
    posts
    INNER JOIN users ON users.id=posts.user_id
"""
users_posts =execute_read_query(connection, select_users_posts)

for user_post in users_posts:
    print(user_post)

(1, 'James', 'I am feeling very happy today')
(2, 'Leila', 'The weather is very hot today')
(2, 'Leila', 'I need some help with my work')
(1, 'James', 'I am getting married')
(5, 'Elizabeth', 'It was a fantastic game of tennis')
(3, 'Brigitte', 'Anyone up for a late-night party today?')

In [43]:
select_post_likes="""
SELECT
    description as Post,
    COUNT(likes.id) as Likes
FROM
    likes,
    posts
WHERE
    posts.id=likes.post_id
GROUP BY
    likes.post_id
"""
post_likes = execute_read_query(connection, select_post_likes)

for post_like in post_likes:
    print(post_like)

('The weather is very hot today', 1)
('I need some help with my work', 1)
('I am getting married', 2)
('It was a fantastic game of tennis', 1)
('Anyone up for a late-night party today?', 2)

## Updating Records

In [45]:
print("Before updating:\n")
query_p = """
SELECT
    description
FROM
    posts
WHERE
    id=2
"""
result_p = execute_read_query(connection, query_p)
print(result_p)

Before updating:

[('The weather is very hot today',)]

In [46]:
update_post_descr="""
UPDATE
    posts
SET
    description="The weather has become pleasant now"
WHERE
    id=2
"""
execute_query(connection, update_post_descr)

Query executed successfully

In [47]:
print("After updating:\n")
query_p = """
SELECT
    description
FROM
    posts
WHERE
    id=2
"""
result_p = execute_read_query(connection, query_p)
print(result_p)

After updating:

[('The weather has become pleasant now',)]

## Delete Record

In [52]:
print("Before deleting:\n")
query_1 = "SELECT * FROM comments"
result_1 = execute_read_query(connection, query_1)
for user in result_1:
    print(user)

Before deleting:

(1, 'Count me in', 6, 1)
(2, 'What sort of help?', 3, 5)
(3, 'Congrats buddy', 4, 2)
(4, 'I was rooting for Nadal though', 5, 4)
(5, 'Help with your thesis?', 3, 2)
(6, 'Many congratulations', 4, 5)

In [53]:
delete_user = "DELETE FROM comments WHERE id=2"
execute_query(connection, delete_user)

Query executed successfully

In [54]:
print("After deleting:\n")
query_1 = "SELECT * FROM comments"
result_1 = execute_read_query(connection, query_1)
for user in result_1:
    print(user)

After deleting:

(1, 'Count me in', 6, 1)
(3, 'Congrats buddy', 4, 2)
(4, 'I was rooting for Nadal though', 5, 4)
(5, 'Help with your thesis?', 3, 2)
(6, 'Many congratulations', 4, 5)

In [56]:
cursor = connection.cursor()
cursor.execute("SHOW DATABASES")
for db in cursor:
    print(db)

('biodata',)
('group',)
('group biodata',)
('information_schema',)
('iqube_learn',)
('mysql',)
('oaui',)
('performance_schema',)
('phpmyadmin',)
('profile',)
('pydb',)
('test',)